ul li {
    list-style-type: none;
}

ul#tag-cloud {
    width: 700px;
    padding: 8px;
}

ul#tag-cloud li {
    display: inline-block;
    height: 80px;
    margin: 6px 26px;
    float: left;
}

.reveal section .subtitle {
    text-align: right; 
}

.reveal section img {
    max-width: 80%;
    max-height: 80%;
}

.reveal section .speakers {
    position: absolute;
    bottom: 45px;
    color: #f7fbfc;
    right: 96px;
    background: rgba(204,204,204,0.2);
    background-color: 50%;
    height: 25%;
    width: 80%;
}

.reveal section img.pyramid {
    border: none;
    box-shadow: none;
}

.reveal .image {
    float: left;
}

    
